html {
	font-size: 16px;
	font-family: 'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif, Arial;
	background-color: #1a1a1a;
}

body {
	margin: 0;
}



/***** helpers *****/
.clearfix {
	overflow: auto;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
/***** helpers *****/


/***** header styles *****/
.header {
	color: #fff;
	padding: 0 15px;
}

.nav ul {
	margin: 0;
	padding: 0;
	text-align: center;
	list-style-type: none;
}

.nav ul li {
	display: inline-block;
	margin: 0 5px;
}

.nav ul li a {
	padding: 10px 15px;
	color: #fff;
	text-decoration: none;
	display: block;
	
    -webkit-transition: background-color 500ms ease-in;
    -moz-transition: background-color 500ms ease-in;
    -o-transition: background-color 500ms ease-in;
    transition: background-color 500ms ease-in;
}

.nav ul li a:focus,
.nav ul li a:hover {
	background-color: #a7a7a7;
}

/***** header styles *****/


/***** main *****/
.main {
	background-color: #fff;
	padding: 20px 0;
}

.main__content {
	float: left;
	width: 70%;
}

.main__content .content {
	padding: 0 15px;
}


.main__sidebar {
	float: left;
	width: 30%;
}

.main__sidebar .content {
	padding: 0 15px;
}
/***** main *****/


/***** footer styles *****/
.footer {
	color: #fff;
	padding: 15px;
}

/***** footer styles *****/


/*********** Media Queries ***********/
@media (max-width: 767px) {
	.nav ul li a {
		padding: 10px;
		margin: 0 2px;
	}
	
	.main__content,
	.main__sidebar	{
		float: none;
		width: 100%;
	}
	.main__content {
		margin-bottom: 20px;
	}
}
/*********** Media Queries ***********/
